<div>
    <ol>
        <li>@Html.RouteLink("SelectList Created In View", new { controller = "ItemList" })</li>
        <li>@Html.RouteLink("SelectList As ViewModel Property", new { controller = "SelectList" })</li>
        <li>@Html.RouteLink("SelectList As A Collection Of SelectListItems", new { controller = "SelectListItem" })</li>
    </ol>    
</div>